<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Predicting Poverty With Machine Learning</title>

    <!--Importing Bootstrap-->
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <!-- Importing Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Importing the other links -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
    ​
    <style>
      .jumbotron {
        color: white;
      }
    </style>

</head>


<!-- Meta Tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Importing Bootstrap-->
<link rel="stylesheet" href="static/css/style.css">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">

<!-- Importing Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Importing the other links -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
​
<style>
  .jumbotron {
    color: white;
  }
</style>

</head>
<body>

  <!--Title-->
  <nav></nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  </nav>
  <div class="jumbotron jumbotron-fluid, bg-primary">
    <div class="container text-center">
      <h1 class="display-4">Predicting Poverty Rates With Machine
        Learning </h1>
      <ul class="nav justify-content-center">
        <p class="lead">About Us</p>
    </div>
  </div>

  <!--Navigation Bar-->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link btn btn-outline-primary" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-danger" href="trends">Historical Trends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-success" href="forecast">Predicting Poverty Rate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-secondary" href="tables">Tables</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-info" href="analysis">Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-warning" href="about">About Us</a>
    </li>
  </ul>
  <br>
  <hr style="border: 1px solid #F8F8FF;" />
  <br>
  <br>

  <!-- Start About Section 1-->
  <div class="container padding">
    <div class="row welcome text-center">
      <hr>
      <div class="col-12">
        <h1> Taylor Takanashi</h1>
        <p class="lead text-left text-break"> 
            I am a Data Analyst with a certificate in Data Analytics and Visualization from the University of California at Berkeley. I enjoy taking initiative and finding unique solutions to better serve customers. Excellent verbal and written communicator with experience. I enjoy working through difficult situations and conflict resolution. Skilled in Excel, Python, and SQL. Recently completed a project in a team of five using data sets from various government agencies, Python, JavaScript, Flask, and AWS to visualize and predict poverty rate based on numerous economic indicators. My ability to work well with a team and collaborate, as well as being able to learn quickly, makes me a valuable member of any team.<br>
            </p>
          </div>

          <br>
          <br>
          <hr style="border: 2px solid #F8F8FF;" />
          <br>
          <br>


  <div class="container padding">
    <div class="row welcome text-center">
      <hr>
      <div class="col-12">
        <h1>Ha Duong</h1>
        <p class="lead text-left text-break"> 
         I am a leader and problem-solver experienced in building and leading agile teams, product and strategy development and software implementation. I am currently a strategy consultant leading agile transformation with a certificate from UC Berkeley in Data Analytics and Visualization. I recently worked with a team to design, develop and implement a project using Python, Pandas, SQL, Amazon RDS, HTML, JavaScript, CSS and Flask to visualize our data analysis and predict an economic outcome based on various indicators. I thrive in complex, dynamic and team-oriented environments that leverage my strategic thinking, analytical, and problem-solving skills and experience building customer-facing solutions in financial services to solve client and customer needs.<br> 
          </p>
        </div>

        <br>
        <br>
        <hr style="border: 2px solid #F8F8FF;" />
        <br>
        <br>

            
  <div class="container padding">
    <div class="row welcome text-center">
      <hr>
      <div class="col-12">
        <h1>Jeanette Perthel</h1>
        <p class="lead text-left text-break"> 
          I am a Data Analyst with a certification in Data Visualization from the University of California at Berkley. With 5+ years of experience working for non-profit and government agencies, I am interested in bridging the gap between data analytics and public policy to better serve my community. I am skilled in Python, Pandas, SQL, and JavaScript. I thrive in fast-paced work environments that require collaboration and analytical problem-solving. I recently completed a project with a team using datasets from various government agencies, Python, machine learning, Flask and JavaScript to evaluate and visualize poverty on a National and state level. My excellent problem-solving abilities coupled with my strength in building interpersonal relationships makes me a value member to any team.<br>

          </p>
        </div>
        
        <br>
        <br>
        <hr style="border: 2px solid #F8F8FF;" />
        <br>
        <br>


  <div class="container padding">
    <div class="row welcome text-center">
      <hr>
      <div class="col-12">
      <h1>Kyle Gee</h1>
      <p class="lead text-left text-break"> 
        Aspiring data scientist with a bachelor’s in mathematics from the University of California, Santa Barbara and a certification in data analytics from the University of California, Berkeley. Passionate problem solver who is eager to research and apply mathematical concepts and computational techniques to analyze data. Excels at breaking down complex problems into solvable components and effectively communicating results to a diverse audience. Skills include Python, Pandas, SQL for data wrangling and Tableau, Matplotlib, and Flask applications for data visualization.          
        <br>
        </p>
      </div>
    
      <br>
      <br>
      <hr style="border: 2px solid #F8F8FF;" />
      <br>
      <br>


  <div class="container padding">
   <div class="row welcome text-center">
    <hr>
    <div class="col-12">
    <h1>Jose Orellana</h1>
    <p class="lead text-left text-break"> 
      I am problem solver with an engineering background and newly acquired skills through UC Berkeley’s Data Analytics Boot Camp. I have ample experience as a Business Consultant in the Oil & Gas upstream portfolio management and asset modeling space.  I also have experience providing services to large multinational clients. I have strong technical skills, experience in product development, testing, documentation and computer and network troubleshooting. I am a reliable member of any team I work, I have a track record of being able to work independently and with minimal supervision.  Additionally, I always aim to exceed expectations on any project or assignment.               
      <br>
      </p>
    </div>
        
    <br>
    <br>
    <hr style="border: 2px solid #F8F8FF;" />
    <br>
    <br>
</body>

</html>