<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Predicting Poverty With Machine Learning</title>

  <!--Importing Bootstrap-->
  <link rel="stylesheet" href="static/css/style.css">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">

  <!-- Importing Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Importing the other links -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  ​
  <style>
    .jumbotron {
      color: white;
    }
  </style>

</head>

<!-- Meta Tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Predicting Poverty With Machine Learning</title>

<!--Importing Bootstrap-->
<link rel="stylesheet" href="static/css/style.css">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">

<!-- Importing Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Importing the other links -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
​
<style>
  .jumbotron {
    color: white;
  }
</style>

</head>

<body>

  <!--Title-->
  <nav></nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  </nav>
  <div class="jumbotron jumbotron-fluid, bg-primary">
    <div class="container">
      <h1 class="display-4">Predicting Poverty Rates With Machine
        Learning </h1>
      <ul class="nav justify-content-center">
        <h2 class="lead">Analysis</h2>
    </div>
  </div>

  <!--Navigation Bar-->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link btn btn-outline-primary" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-danger" href="trends">Historical Trends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-success" href="forecast">Predicting Poverty Rate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-secondary" href="tables">Tables</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-info" href="analysis">Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-warning" href="about">About Us</a>
    </li>
  </ul>
  <br>
  <hr style="border: 1px solid #F8F8FF;" />
  <br>
  <br>

  <!-- Analysis -->
  <div class="container padding">
    <div class="row welcome text-center">
      <hr>
      <div class="col-12">
        <h2>Can poverty levels be extrapolated from historical economic indicators?</h2>
        <p class="lead text-left text-break">
          Overall, extrapolating poverty rates from historical economic indicators is possible however,
          instances vary by state. Because of the nature of the data, it is difficult to look at all of the data
          together and understand the relationship. Each state has its own laws and regulations concerning most of the
          features, which was found to greatly impact the correlation between states, economic indicators, and poverty
          rate. As a result, the machine learning model is not effective on the dataset as a whole. Each state had a
          different "best" feature (the feature which was most closely related to poverty rate), which meant the machine
          learning model is trained separately on each state individually so the most accurate prediction is made. The
          machine learning model is used on the “Predicting Poverty Rates” tab of this webpage, where a user can input
          the same number for each economic indicator for two different states and come up with a different poverty rate
          for each state.
        </p>

        <br>
        <br>

        <img src="../static/images/feature_importance.jpg" alt="Feature Importance" width="700" height="500">
          

        <h2>Which economic indicators have the highest correlation with poverty rates?</h2>
        <p class="lead text-left text-break">
          Unemployment rate and homeownership rate are the two economic indicators that most closely
          correlate to poverty rates.
          The chart “Unemployment Rate vs. Poverty Rate” illustrates that as unemployment rates increase so does poverty
          rates.
          The chart "Education per Capita vs. Poverty Rate” demonstrates that as education spending per capita increase poverty
          rates decreases.
        </p>

        <br>
        <br>

        <img src="../static/images/heatmap.png" alt="Feature Importance" width="700" height="500">

        <h2> How does adjusting certain economic indicators affect the poverty rate?</h2>
        <p class="lead text-left text-break">
          To view how adjusting economic indicators affects the poverty rate, use the machine learning
          model on the “Predicting Poverty Rates” tab of this webpage. Once there, the user can input a desired level
          for each economic indicator and see how changing those indicators impacts poverty rate per state.
        </p>

        <br>
        <br>

      </div>
    </div>
  </div>


</body>

</html>