<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecasting</title>
</head>

<body>
    <!--Navigation Bar-->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="trends">Historical Trends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="forecast">Predicting Poverty Rate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="maps">Maps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="about">About Us</a>
        </li>
    </ul>

</body>

</html>