<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicting Poverty</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
  <nav></nav>
  <hr style="border: 1px solid #F8F8FF;"> 
  <div class="jumbotron">
    <h1 class="display-4">Predicting Poverty Rates with Machine 
  Learning</h1> 
  </div>

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="trends">Historical Trends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="forecast">Predicting Poverty Rate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="maps">Maps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="about">About Us</a>
          </li>
      </ul>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 article-title">
            <h3>Economic Trends and Poverty Rates in the United States 
      <small>Using machine learning to predict poverty</small></h3>
          </div>
          <div class="col-md-8">
            <p>
              This project provides a statistic portrait of the effect 
              of various economic factors on poverty rates in the United 
              States over the past four decades. The poverty measures examined 
              were minimum wage, unemployment rate, welfare and education
              spending, homeownership, crime rate, and divorce rate at 
              both the state and national levels.
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>
</html>