<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Trends</title>

  <!--Importing Bootstrap-->
  <link rel="stylesheet" href="static/css/style.css">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">

  <!-- Importing Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Importing the other links -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  ​
  <style>
    .jumbotron {
      color: white;
    }
  </style>
</head>

<!-- Importing the other links -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
​
<style>
  .jumbotron {color: white;
  }
</style>
</head>
<body>

  <!--Title-->
  <nav></nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  </nav>
  <div class="jumbotron jumbotron-fluid, bg-primary">
    <div class="container">
      <h1 class="display-4">Predicting Poverty Rates With Machine
        Learning </h1>
      <ul class="nav justify-content-center">
        <p class="lead">Historical Trends</p>
    </div>
  </div>

  <!--Navigation Bar-->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link btn btn-outline-primary" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-danger" href="trends">Historical Trends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-success" href="forecast">Predicting Poverty Rate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-secondary" href="tables">Tables</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-info" href="analysis">Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-warning" href="about">About Us</a>
    </li>
  </ul>
  <br>
  <hr style="border: 1px solid #F8F8FF;" />
  <br>
  <!-- Drop dowm for charts -->
  <div class="container">
    <div class="text-right">
      <select name="chartType" id="chartType">
        <option value="viz1628284472091">Poverty Rates</option>
        <option value="viz1628120835791">Crime Rates</option>
        <option value="viz1628121757142">Minimum Wage</option>
        <option value="viz1628121231049">Unemployment Rates</option>
        <option value="viz1628121570123">Homeownership Rates</option>
        <option value="viz1628375917320">Crime Rate vs. Poverty Rate</option>
        <option value="viz1628376037945">Avg Wage Index vs. Poverty Rate</option>
        <option value="viz1628376137980">Homeownership vs. Poverty Rate</option>
        <option value="viz1628376247600">Unemployment Rate vs. Poverty Rate</option>
        <option value="viz1628376397410">Welfare Spending vs. Poverty Rate</option>
        <option value="viz1628377191860">Education Spending vs. Poverty Rate</option>
        <option value="viz1628376679335">Minimum Wage vs. Poverty Rate</option>
        <option value="viz1628376760183">CPI Avg vs. Poverty Rate</option>
        <option value="viz1628376842810">Inflation Rate vs. Poverty Rate</option>
        <option value="viz1628376949887">Divorce Rate vs. Poverty Rate</option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="chart">

        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src="../static/js/trendsTab.js">

  </script>
</body>

</html>