<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
   
    <div id="chartArea"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <label>Select State</label>
                <div class="form-group">
                    <select name="states" id="states" class="form-control">
                        <!-- <option value="california">California</option>
                      <option value="alabama">Alabama</option> -->
                    </select>
                </div>
            </div>
            <div class="col-md-4">Select Year</div>
            <div class="col-md-4">Select Feature</div>
        </div>
    </div>
    <script src="../static/js/trends.js"></script>

</body>

</html>